<a href="https://colab.research.google.com/github/Tanveer87/CSE_309_025/blob/master/A1_CT_2_18101025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Write a program to check Leap year.**

In [2]:
year = int(input("Enter a year: "))


if (year % 400) == 0:
  print("This year is leap year")

elif (year % 100) == 0:
  print("This year is  not leap year")  
elif (year % 4) == 0: 
  print("This year is   leap year")  
else:  
   print("This year is  not leap year")

Enter a year: 2005
This year is  not leap year

**Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.**

In [16]:
string_Line = "ABCDEFGHIJKL"

PART_1=string_Line[0:3]
PART_2=string_Line[3:6]
PART_3=string_Line[6:9]
PART_4=string_Line[9:12]

New_string=PART_4+PART_2+PART_3+PART_1
print(New_string)

JKLDEFGHIABC

**3.Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.**

In [31]:
#we need dictionary data type for search the member effectively 
Group_member1 = {
    "Name" : "Tanveer",
    "ID" : "18101025",
    "CGPA" : 3.5,
    "Email_Address" : "18101025@uap-bd.edu",
    "Contact_no" : "0185856"
}

Group_member2 = {
    "Name" : "Mashfee",
    "ID" : "18101018",
    "CGPA" : 3.8,
    "Email_Address" : "18101018@uap-bd.edu",
    "Contact_no" : "0185854"
}
Group_member3 = {
    "Name" : "IFty",
    "ID" : "18101014",
    "CGPA" : 3.7,
    "Email_Address" : "18101014@uap-bd.edu",
    "Contact_no" : "0185825"
}
Group_member4 = {
    "Name" : "Antik",
    "ID" : "18101012",
    "CGPA" : 3.65,
    "Email_Address" : "18101012@uap-bd.edu",
    "Contact_no" : "0185836"
}
Group_member5 = {
    "Name" : "Adnan",
    "ID" : "18101017",
    "CGPA" : 3.75,
    "Email_Address" : "18101017@uap-bd.edu",
    "Contact_no" : "0185819"
}
group_member = {
    Group_member1["ID"] : Group_member1,
    Group_member2["ID"] : Group_member2,
    Group_member3["ID"] : Group_member3,
    Group_member4["ID"] : Group_member4,
    Group_member5["ID"] : Group_member5
}

group_member["18101025"]

{'CGPA': 3.5,
 'Contact_no': '0185856',
 'Email_Address': '18101025@uap-bd.edu',
 'ID': '18101025',
 'Name': 'Tanveer'}

**4.Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the EmployeeID, it will show all the information of that Employee.**

In [27]:
Employee1 = {
    "EmployeeID" : 1001,
    "Ename" : "John",
    "DeptID" : 2,
    "Salary" : 4000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
Employee2 = {
    "EmployeeID" : 1002,
    "Ename" : "Anna",
    "DeptID" : 1,
    "Salary" : 3500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee3 = {
    "EmployeeID" : 1003,
    "Ename" : "James",
    "DeptID" : 1,
    "Salary" : 2500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee4 = {
    "EmployeeID" : 1004,
    "Ename" : "David",
    "DeptID" : 2,
    "Salary" : 5000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
all_Employee = {
    Employee1["EmployeeID"] : Employee1,
    Employee2["EmployeeID"] : Employee2,
    Employee3["EmployeeID"] : Employee3,
    Employee4["EmployeeID"] : Employee4

}
print(all_Employee[1002]["Ename"])
print(all_Employee[1002]["DeptID"])
print(all_Employee[1002]["Salary"])
print(all_Employee[1002]["Dname"])
print(all_Employee[1002]["Dlocation"])

Anna
1
3500
HR
Mumbai