<a href="https://colab.research.google.com/github/Tanveer87/CSE_309_025/blob/master/CSE_310_A1_A2_labtest_solve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB TEXT 1

Write a python program to calculate compound interest.				[5]

In [ ]:
P = float (input("Principle(amount):"))
T = float (input("Time:"))
R = float (input("Rate:"))

result =float (P*(1+R/100)**T)
print("Compound Interest=",result)

Write a python program to calculate the surface area and volume of a cylinder. [10]

In [ ]:
radious = float (input("r="))
height = float (input("h="))

V = 3.1416*(radious**2)*height
S = (2*3.1416*(radious**2))+(2*3.1416*radious*height)

print("Surface area:",S,"square units")
print("Volume:",round(V,2),"cube units")

Write a python program to calculate the volume and surface area of Cone.	[10]
Volume:

In [ ]:
radious_of_circular_base = float (input("radious="))
height_from_tip_to_base = float (input("height="))

V = 0.33*3.1416*(radious_of_circular_base**2)*height_from_tip_to_base
S = (3.1416*radious_of_circular_base*height_from_tip_to_base)+(3.1416*(radious_of_circular_base**2))


print("Volume:",round(V,2),"cube units")
print("Surface area:",round(S,2),"square units")


Write a python program to calculate the volume and surface area of Sphere.	[5]
Volume:

In [ ]:
radious = float (input("radious="))


V = (4/3)*3.1416*(radious**3)
S = (4*3.1416*(radious**2))


print("Volume =",round(V,2),"cube units")
print("Surface area=",round(S,2),"square units")

LAB TEXT 2

Write a program to check Leap year.						[5]

In [ ]:
year = int(input("Enter a year: "))

if (year % 400) == 0:
  print("This year is leap year")

elif (year % 100) == 0:
  print("This year is  not leap year")  
elif (year % 4) == 0: 
  print("This year is   leap year")  
else:  
   print("This year is  not leap year")

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string. 				[5]

Example:
Given String: “ABCDEFGHIJKL”

In [ ]:
string_Line = "ABCDEFGHIJKL"

PART_1=string_Line[0:3]
PART_2=string_Line[3:6]
PART_3=string_Line[6:9]
PART_4=string_Line[9:12]

New_string=PART_4+PART_2+PART_3+PART_1
print(New_string)

Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.

In [ ]:
#we need dictionary data type for search the member effectively 
Group_member1 = {
    "Name" : "Tanveer",
    "ID" : "18101025",
    "CGPA" : 3.5,
    "Email_Address" : "18101025@uap-bd.edu",
    "Contact_no" : "0185856"
}

Group_member2 = {
    "Name" : "Mashfee",
    "ID" : "18101018",
    "CGPA" : 3.8,
    "Email_Address" : "18101018@uap-bd.edu",
    "Contact_no" : "0185854"
}
Group_member3 = {
    "Name" : "IFty",
    "ID" : "18101014",
    "CGPA" : 3.7,
    "Email_Address" : "18101014@uap-bd.edu",
    "Contact_no" : "0185825"
}
Group_member4 = {
    "Name" : "Antik",
    "ID" : "18101012",
    "CGPA" : 3.65,
    "Email_Address" : "18101012@uap-bd.edu",
    "Contact_no" : "0185836"
}
Group_member5 = {
    "Name" : "Adnan",
    "ID" : "18101017",
    "CGPA" : 3.75,
    "Email_Address" : "18101017@uap-bd.edu",
    "Contact_no" : "0185819"
}
group_member = {
    Group_member1["ID"] : Group_member1,
    Group_member2["ID"] : Group_member2,
    Group_member3["ID"] : Group_member3,
    Group_member4["ID"] : Group_member4,
    Group_member5["ID"] : Group_member5
}

group_member["18101025"]

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the EmployeeID, it will show all the information of that Employee.						[5]

In [ ]:
Employee1 = {
    "EmployeeID" : 1001,
    "Ename" : "John",
    "DeptID" : 2,
    "Salary" : 4000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
Employee2 = {
    "EmployeeID" : 1002,
    "Ename" : "Anna",
    "DeptID" : 1,
    "Salary" : 3500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee3 = {
    "EmployeeID" : 1003,
    "Ename" : "James",
    "DeptID" : 1,
    "Salary" : 2500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee4 = {
    "EmployeeID" : 1004,
    "Ename" : "David",
    "DeptID" : 2,
    "Salary" : 5000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
all_Employee = {
    Employee1["EmployeeID"] : Employee1,
    Employee2["EmployeeID"] : Employee2,
    Employee3["EmployeeID"] : Employee3,
    Employee4["EmployeeID"] : Employee4

}
print(all_Employee[1002]["Ename"])
print(all_Employee[1002]["DeptID"])
print(all_Employee[1002]["Salary"])
print(all_Employee[1002]["Dname"])
print(all_Employee[1002]["Dlocation"])

LAB TEST **3**

Sum the following series using for loop:
1 + 4 + 9 + 16 + ….. + Up to n-th term= ? (Hint: square series)		[4]

In [ ]:
n= int(input("number: "))

sum = 0
for i in range(1,n+1) :
  
  sum = sum + (i * i)
print(sum)

You have a list of students. Each student’s information is stored using a dictionary. 


Now write a python program to search a student by his/her ID. Use a loop and conditional (or only conditional) so that this can also work on a big list of students.

In [ ]:
student1 = {
    "stduent_id" : 1,
    "Iname" : "Salrad",
    "fname" : "jean",
    "age" : 19
}
student2 = {
    "stduent_id" : 2,
    "Iname" : "Le Bert",
    "fname" : "Antonie",
    "age" : 24
}
student3 = {
    "stduent_id" : 3,
    "Iname" : "Legendre",
    "fname" : "Pierre",
    "age" : 23
}
student4 = {
    "stduent_id" : 4,
    "Iname" : "Turcotte",
    "fname" : "cedric",
    "age" : 24
}
student5 = {
    "stduent_id" : 5,
    "Iname" : "Trembly",
    "fname" : "Alfredo",
    "age" : 22
}

student = {
    student1["stduent_id"] : student1,
    student2["stduent_id"] : student2,
    student3["stduent_id"] : student3,
    student4["stduent_id"] : student4,
    student5["stduent_id"] : student5

}

l = [student1,student2,student3,student4,student5]

for student in l:
  if student["stduent_id"] == 2:
    print(student)

**LAB TEST 4**

 Write a python class for calculating the motion of a moving object by using the following equations											[6]

In [ ]:
import math as p
class PhysicsFormula:

  def formula1(self,u,a,t):
    self.v=u+a*t
    print(self.v)

  def formula2(self,u,t,a):
    self.s=u*t+0.5*a*(t**2)
    print(self.s)

  def formula3(self,u,v,t):
    self.s=0.5*(u+v)*t
    print(self.s)

  def formula4(self,u,a,s):
    self.v=p.sqrt(u*u+2*a*s)
    print(self.v)

Write a Credit Card class in python. A user can cash out (debit) money or pay shopping bills from his/her own card based on availability or limit. Initially,  a credit card holder gets 100000 taka limit. The user has to pay back to the credit card bank.		[12]

Moreover, the account stores the following information						
	Instance variables: (information should be provided at the time of account creation)
a.Name of the credit card holder
b.Credit card number
c.Current Balance
d.Max limit
	Methods:
a.Deposit 
b.Debit
c.Show current balance
d.Pay bill

In [ ]:
class CreditCard:

  def __init__(self,Card_holder_Name,C_No,C_balance,Max_limit):

    self.Card_holder_Name= Card_holder_Name
    self.C_No = C_No
    self.C_balance= C_balance
    self.Max_limit= Max_limit

  def Deposite(self,deposite):
    self.C_balance = self.C_balance+deposite
   
  def Debit(self,pay_money):
    if (self.C_balance>=pay_money):
      self.C_balance = self.C_balance - pay_money
      
  def show_C_balance(self):
    print(self.C_balance)

  def Pay_Bill(self,back_money):
    self.C_balance = self.C_balance+back_money
    print(self.C_balance)

**A2  LAB TEST 1**


Calculate compound interest

In [ ]:
p=int(input(' Principle (amount): '))
t=int(input('Time (in years) : '))
r=float(input(' Rate: '))
x=1+(r/100)
y=x**t
result=p*y
print('Compound Interest = ',round(result,6))

proble 2

In [ ]:
r=int(input('r'))
result=r*3.1416*2
print('Perimeter:',round(result,2))

problem 3

In [ ]:
r=int(input('r'))
h=int(input('h'))
vol=3.1416*r**2*h
area=(2*3.1416*r**2)+(2*3.1416*r*h)
print('Surface area:',round(area,2),'square units')
print('Volume:',round(vol,2),'cube units')

**A2 LAB TEST 2**

Write a python code to determine odd or even.

In [ ]:
x=int(input("Enter a number to check even/odd: "))
if x%2==0:
  print("Even Number")
else:
  print("Odd Number")

Write a python program to calculate the letter grade of an H.S.C exam. The exam mark will be given as input

In [ ]:
x=float(input("Enter a number to check your grade: "))
if x>=80.0:
  print("A+")
elif x>=70.0 and x<80:
  print("A")
elif x>=60 and x<70:
  print("A-")
elif x>=50.0 and x<60:
  print("B")
elif x>=40.0 and x<50:
  print("C")
elif x>=33.0 and x<40:
  print("D")
elif x<32:
 print("F")

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.

In [ ]:
x=input("Enter a 12 length string: ")
x1=x[0:3]
x2=x[3:6]
x3=x[6:9]
x4=x[9:12]
y=x4+x2+x3+x1
print("Output: ",y)

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student

In [ ]:
y=int(input("Enter id: "))
d1={
    "ID":"1",
   "First name":"Peter",
   "Last name":"Lee",
   "Email":"pele@university.edu",
   "Year of birth":"1992"


}
d2={
    "ID":"2",
   "First name":"Jonatham",
   "Last name":"Edwards",
   "Email":"jedwards@university.edu",
   "Year of birth":"1994"


}
d3={
    "ID":"3",
   "First name":"Marylin",
   "Last name":"Johnsan",
   "Email":"mjohnson@university.edu",
   "Year of birth":"1993"


}
d4={
    "ID":"6",
   "First name":"Joe",
   "Last name":"Kim",
   "Email":"jkim@university.edu",
   "Year of birth":"1992"


}
d5={
    "ID":"12",
   "First name":"Haley",
   "Last name":"Martinez",
   "Email":"hmartinez@university.edu",
   "Year of birth":"1993"


}
dictionary={
    1:d1,
   2:d2,
   3:d3,
   6:d4,
   12:d5
}

print(dictionary[y])

**A2 LAB TEST 3**

problem 1

In [ ]:
d1={
    "ID":"1",
    "First name":"Peter",
    "Last name":"Lee",
    "Email":"plee@university.edu",
    "Year Of Birth":"1992"
}
d2={
    "ID":"2",
    "First name":"Jonathan",
    "Last name":"Edwars",
    "Email":"jedwards@university.edu",
    "Year Of Birth":"1994"
}
d3={
    "ID":"3",
    "First name":"Marylin",
    "Last name":"Jhonson",
    "Email":"mjhonson@university.edu",
    "Year Of Birth":"1993"
}
d4={
    "ID":"6",
    "First name":"Joe",
    "Last name":"Kim",
    "Email":"jkim@university.edu",
    "Year Of Birth":"1992"
}

l = [d1, d2, d3, d4]

x=input("Enter student id: ")
flag=0
for i in l:
  if i["ID"] == x :
    print(i)
    flag=1
if flag==1:
  pass
else:
  print("Id is not registered.")

**A2 LAB TEST 4**

problem 1

In [ ]:
import math as m
class calculator:
  a=0.0
  b=0.0
  c=0.0
  def plus(self,a,b):
    self.c=a+b
    print(self.c)
  
  def minious(self,a,b):
    self.c=a-b
    print(self.c)
    
  def multiply(self,a,b):
    self.c=a*b
    print(self.c)

  def divide(self,a,b):
    self.c=a/b
    print(self.c)

  def squrt(self,a):
    self.c=m.sqrt(a)
    print(self.c)

  def round(self,a):
    self.c=m.round(a)
    print(self.c)

  def power(self,a,b):
    self.c=m.pow(a,b)
    print(self.c)

  def log(self,a,base):
    self.c=m.log(a,base)
    print(self.c)

  def sin(self,angle):
    a=m.degrees(angle)
    self.c=m.sin(a)
    print(self.c)

  def cos(self,angle):
    a=m.degrees(angle)
    self.c= m.cos(a)
    print(self.c)

  def tan(self,angle):
    a=m.degrees(angle)
    self.c=m.tan(a)
    print(self.c)

  def factorial(self,a):
    self.c=m.factorial(a)
    print(self.c)

  def mod(self,a,b):
    self.c=a%b
    print(self.c)

  def percentage(self,a,b):
    self.c=(b*100)/a
    print(self.c)
    
  def ans(self):
    print(self.c)

problem 2

In [1]:
class student:
  name=""
  id=0
  semester=""
  email=""
  cgpa=0.0
  credit_complete=0.0
  def __init__(self,name,id,semester,email):
    self.name=name
    self.id=id
    self.semester=semester
    self.email=email
  def show_data(self):
    print(self.name,"\n",self.id,"\n",self.semester,"\n",self.email,"\n",self.cgpa,"\n",self.credit_complete,"\n")
  def update_semester(self,semester):
    self.semester=semester
  def update_cgpa(self,cgpa):
    self.cgpa=cgpa
  def upadte_completed_credit(self,credit):
    self.credit_complete=credit

In [2]:
a=student("sakib",1,"3-1","18101032@uap-bd.edu")

In [3]:
a.upadte_completed_credit(98.5)

In [4]:
a.show_data()

sakib
 1
 3-1
 18101032@uap-bd.edu
 0.0
 98.5

problem : Prime_number_in_a_given_range

In [8]:
def prime_number(a,b):
  if(a<0):
    print("Result will be shown for positive number")
  if(a<=1):
    a=2
    c=int(b/2)
    j=2
    for i in range(a,b):
      for j in range(2,i):

        if(i%j==0):
          break
      else:
          print(i, end=' ')

x =int(input(''))
y=int(input(''))
prime_number(x,y)

1
20
2 3 5 7 11 13 17 19