<a href="https://colab.research.google.com/github/Tanveer87/CSE_309_025/blob/master/CSE_310_A1_A2_labtest_solve_MID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB TEXT 1

Write a python program to calculate compound interest.				[5]

In [ ]:
P = float (input("Principle(amount):"))
T = float (input("Time:"))
R = float (input("Rate:"))

result =float (P*(1+R/100)**T)
print("Compound Interest=",result)

Write a python program to calculate the surface area and volume of a cylinder. [10]

In [ ]:
radious = float (input("r="))
height = float (input("h="))

V = 3.1416*(radious**2)*height
S = (2*3.1416*(radious**2))+(2*3.1416*radious*height)

print("Surface area:",S,"square units")
print("Volume:",round(V,2),"cube units")

Write a python program to calculate the volume and surface area of Cone.	[10]
Volume:

In [ ]:
radious_of_circular_base = float (input("radious="))
height_from_tip_to_base = float (input("height="))

V = 0.33*3.1416*(radious_of_circular_base**2)*height_from_tip_to_base
S = (3.1416*radious_of_circular_base*height_from_tip_to_base)+(3.1416*(radious_of_circular_base**2))


print("Volume:",round(V,2),"cube units")
print("Surface area:",round(S,2),"square units")


Write a python program to calculate the volume and surface area of Sphere.	[5]
Volume:

In [ ]:
radious = float (input("radious="))


V = (4/3)*3.1416*(radious**3)
S = (4*3.1416*(radious**2))


print("Volume =",round(V,2),"cube units")
print("Surface area=",round(S,2),"square units")

**LAB TEXT 2**

Write a program to check Leap year.						[5]

In [ ]:
year = int(input("Enter a year: "))

if (year % 400) == 0:
  print("This year is leap year")

elif (year % 100) == 0:
  print("This year is  not leap year")  
elif (year % 4) == 0: 
  print("This year is   leap year")  
else:  
   print("This year is  not leap year")

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string. 				[5]

Example:
Given String: “ABCDEFGHIJKL”

In [ ]:
string_Line = "ABCDEFGHIJKL"

PART_1=string_Line[0:3]
PART_2=string_Line[3:6]
PART_3=string_Line[6:9]
PART_4=string_Line[9:12]

New_string=PART_4+PART_2+PART_3+PART_1
print(New_string)

Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.

In [9]:
#we need dictionary data type for search the member effectively 
Group_member1 = {
    "Name" : "Tanveer",
    "ID" : "18101025",
    "CGPA" : 3.5,
    "Email_Address" : "18101025@uap-bd.edu",
    "Contact_no" : "0185856"
}

Group_member2 = {
    "Name" : "Mashfee",
    "ID" : "18101018",
    "CGPA" : 3.8,
    "Email_Address" : "18101018@uap-bd.edu",
    "Contact_no" : "0185854"
}
Group_member3 = {
    "Name" : "IFty",
    "ID" : "18101014",
    "CGPA" : 3.7,
    "Email_Address" : "18101014@uap-bd.edu",
    "Contact_no" : "0185825"
}
Group_member4 = {
    "Name" : "Antik",
    "ID" : "18101012",
    "CGPA" : 3.65,
    "Email_Address" : "18101012@uap-bd.edu",
    "Contact_no" : "0185836"
}
Group_member5 = {
    "Name" : "Adnan",
    "ID" : "18101017",
    "CGPA" : 3.75,
    "Email_Address" : "18101017@uap-bd.edu",
    "Contact_no" : "0185819"
}
group_member = {
    Group_member1["ID"] : Group_member1,
    Group_member2["ID"] : Group_member2,
    Group_member3["ID"] : Group_member3,
    Group_member4["ID"] : Group_member4,
    Group_member5["ID"] : Group_member5
}

group_member["18101025"]

{'CGPA': 3.5,
 'Contact_no': '0185856',
 'Email_Address': '18101025@uap-bd.edu',
 'ID': '18101025',
 'Name': 'Tanveer'}

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the EmployeeID, it will show all the information of that Employee.						[5]

In [13]:
Employee1 = {
    "EmployeeID" : 1001,
    "Ename" : "John",
    "DeptID" : 2,
    "Salary" : 4000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
Employee2 = {
    "EmployeeID" : 1002,
    "Ename" : "Anna",
    "DeptID" : 1,
    "Salary" : 3500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee3 = {
    "EmployeeID" : 1003,
    "Ename" : "James",
    "DeptID" : 1,
    "Salary" : 2500,
    "Dname" : "HR",
    "Dlocation" : "Mumbai"
}
Employee4 = {
    "EmployeeID" : 1004,
    "Ename" : "David",
    "DeptID" : 2,
    "Salary" : 5000,
    "Dname" : "IT",
    "Dlocation" : "New Delhi"
}
all_Employee = {
    Employee1["EmployeeID"] : Employee1,
    Employee2["EmployeeID"] : Employee2,
    Employee3["EmployeeID"] : Employee3,
    Employee4["EmployeeID"] : Employee4

}
print("NAME :",all_Employee[1002]["Ename"])
print("DEPARTMENT ID :",all_Employee[1002]["DeptID"])
print("SALARY :",all_Employee[1002]["Salary"])
print("DEPARTMENT NAME :",all_Employee[1002]["Dname"])
print("LOCATION :",all_Employee[1002]["Dlocation"])

NAME : Anna
DEPARTMENT ID : 1
SALARY : 3500
DEPARTMENT NAME : HR
LOCATION : Mumbai

**LAB TEST 3**

Sum the following series using for loop:
1 + 4 + 9 + 16 + ….. + Up to n-th term= ? (Hint: square series)		[4]

In [14]:
n= int(input("number: "))

sum = 0
for i in range(1,n+1) :
  
  sum = sum + (i * i)
print(sum)

number: 11
506

You have a list of students. Each student’s information is stored using a dictionary. 


Now write a python program to search a student by his/her ID. Use a loop and conditional (or only conditional) so that this can also work on a big list of students.

In [22]:
student1 = {
    "stduent_id" : 1,
    "Iname" : "Salrad",
    "fname" : "jean",
    "age" : 19
}
student2 = {
    "stduent_id" : 2,
    "Iname" : "Le Bert",
    "fname" : "Antonie",
    "age" : 24
}
student3 = {
    "stduent_id" : 3,
    "Iname" : "Legendre",
    "fname" : "Pierre",
    "age" : 23
}
student4 = {
    "stduent_id" : 4,
    "Iname" : "Turcotte",
    "fname" : "cedric",
    "age" : 24
}
student5 = {
    "stduent_id" : 5,
    "Iname" : "Trembly",
    "fname" : "Alfredo",
    "age" : 22
}

student = {
    student1["stduent_id"] : student1,
    student2["stduent_id"] : student2,
    student3["stduent_id"] : student3,
    student4["stduent_id"] : student4,
    student5["stduent_id"] : student5

}

l = [student1,student2,student3,student4,student5]
student_id = int(input("Student ID :"))


for student in l:
  if student["stduent_id"] == student_id:
    print(student)

Student ID :5
{'stduent_id': 5, 'Iname': 'Trembly', 'fname': 'Alfredo', 'age': 22}

**LAB TEST 4**

 Write a python class for calculating the motion of a moving object by using the following equations											[6]

In [ ]:
import math as p
class PhysicsFormula:

  def formula1(self,u,a,t):
    self.v=u+a*t
    print(self.v)

  def formula2(self,u,t,a):
    self.s=u*t+0.5*a*(t**2)
    print(self.s)

  def formula3(self,u,v,t):
    self.s=0.5*(u+v)*t
    print(self.s)

  def formula4(self,u,a,s):
    self.v=p.sqrt(u*u+2*a*s)
    print(self.v)

Write a Credit Card class in python. A user can cash out (debit) money or pay shopping bills from his/her own card based on availability or limit. Initially,  a credit card holder gets 100000 taka limit. The user has to pay back to the credit card bank.		[12]

Moreover, the account stores the following information						
	Instance variables: (information should be provided at the time of account creation)
       ** a**.Name of the credit card holder
       ** b**.Credit card number
       ** c**.Current Balance
        **d.**Max limit
**	Methods:**
        a.Deposit 
        b.Debit
        c.Show current balance
        d.Pay bill

In [34]:
class CreditCard:

  def __init__(self,Card_holder_Name,C_No,C_balance,Max_limit):

    self.Card_holder_Name= Card_holder_Name
    self.C_No = C_No
    self.C_balance= C_balance
    self.Max_limit= Max_limit

  def Deposite(self,deposite):
    self.C_balance = self.C_balance+deposite
   
  def Debit(self,pay_money):
    if (self.C_balance>=pay_money):
      self.C_balance = self.C_balance - pay_money
      
  def show_C_balance(self):
    print(self.C_balance)

  def Pay_Bill(self,back_money):
    self.C_balance = self.C_balance+back_money
    print(self.C_balance)

In [35]:
customer = CreditCard("Roton","181002",60000,100000)

In [36]:
customer.show_C_balance()

60000

In [37]:
customer.Deposite(10000)

In [38]:
customer.show_C_balance()

70000

In [39]:
customer.Debit(70000)

In [40]:
customer.show_C_balance()

0

In [41]:
customer. Pay_Bill(90000)

90000

In [42]:
customer.show_C_balance()

90000

**A2  LAB TEST 1**


Calculate compound interest

In [43]:
p=int(input(' Principle (amount): '))
t=int(input('Time (in years) : '))
r=float(input(' Rate: '))
x=1+(r/100)
y=x**t
result=p*y
print('Compound Interest = ',round(result,6))

 Principle (amount): 1250
Time (in years) : 5
 Rate: 5
Compound Interest =  1595.351953

proble 2

In [46]:
r=int(input('r='))
result=r*3.1416*2
print('Perimeter:',round(result,2))

r=5
Perimeter: 31.42

problem 3

In [47]:
r=int(input('r'))
h=int(input('h'))
vol=3.1416*r**2*h
area=(2*3.1416*r**2)+(2*3.1416*r*h)
print('Surface area:',round(area,2),'square units')
print('Volume:',round(vol,2),'cube units')

r5
h8
Surface area: 408.41 square units
Volume: 628.32 cube units

**A2 LAB TEST 2**

Write a python code to determine odd or even.

In [48]:
x=int(input("Enter a number to check even/odd: "))
if x%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter a number to check even/odd: 21
Odd Number

Write a python program to calculate the letter grade of an H.S.C exam. The exam mark will be given as input

In [51]:
x=float(input("Enter a number to check your grade: "))
if x>=80.0:
  print("A+")
elif x>=70.0 and x<80:
  print("A")
elif x>=60 and x<70:
  print("A-")
elif x>=50.0 and x<60:
  print("B")
elif x>=40.0 and x<50:
  print("C")
elif x>=33.0 and x<40:
  print("D")
else:
 print("F")

Enter a number to check your grade: 31
F

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.

In [52]:
x=input("Enter a 12 length string: ")
x1=x[0:3]
x2=x[3:6]
x3=x[6:9]
x4=x[9:12]
y=x4+x2+x3+x1
print("Output: ",y)

Enter a 12 length string: tanveeraghgf
Output:  hgfveeragtan

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student

In [53]:
y=int(input("Enter id: "))
d1={
    "ID":"1",
   "First name":"Peter",
   "Last name":"Lee",
   "Email":"pele@university.edu",
   "Year of birth":"1992"


}
d2={
    "ID":"2",
   "First name":"Jonatham",
   "Last name":"Edwards",
   "Email":"jedwards@university.edu",
   "Year of birth":"1994"


}
d3={
    "ID":"3",
   "First name":"Marylin",
   "Last name":"Johnsan",
   "Email":"mjohnson@university.edu",
   "Year of birth":"1993"


}
d4={
    "ID":"6",
   "First name":"Joe",
   "Last name":"Kim",
   "Email":"jkim@university.edu",
   "Year of birth":"1992"


}
d5={
    "ID":"12",
   "First name":"Haley",
   "Last name":"Martinez",
   "Email":"hmartinez@university.edu",
   "Year of birth":"1993"


}
dictionary={
    1:d1,
   2:d2,
   3:d3,
   6:d4,
   12:d5
}

print(dictionary[y])

Enter id: 12
{'ID': '12', 'First name': 'Haley', 'Last name': 'Martinez', 'Email': 'hmartinez@university.edu', 'Year of birth': '1993'}

**A2 LAB TEST 3**

problem 1

In [55]:
d1={
    "ID":"1",
    "First name":"Peter",
    "Last name":"Lee",
    "Email":"plee@university.edu",
    "Year Of Birth":"1992"
}
d2={
    "ID":"2",
    "First name":"Jonathan",
    "Last name":"Edwars",
    "Email":"jedwards@university.edu",
    "Year Of Birth":"1994"
}
d3={
    "ID":"3",
    "First name":"Marylin",
    "Last name":"Jhonson",
    "Email":"mjhonson@university.edu",
    "Year Of Birth":"1993"
}
d4={
    "ID":"6",
    "First name":"Joe",
    "Last name":"Kim",
    "Email":"jkim@university.edu",
    "Year Of Birth":"1992"
}

l = [d1, d2, d3, d4]

x=input("Enter student id: ")
flag=0
for i in l:
  if i["ID"] == x :
    print(i)
    flag=1
if flag==1:
  pass
else:
  print("Id is not registered.")

Enter student id: 6
{'ID': '6', 'First name': 'Joe', 'Last name': 'Kim', 'Email': 'jkim@university.edu', 'Year Of Birth': '1992'}

**A2 LAB TEST 4**

problem 1

In [57]:
import math as m
class calculator:
  a=0.0
  b=0.0
  c=0.0
  def plus(self,a,b):
    self.c=a+b
    print(self.c)
  
  def minious(self,a,b):
    self.c=a-b
    print(self.c)
    
  def multiply(self,a,b):
    self.c=a*b
    print(self.c)

  def divide(self,a,b):
    self.c=a/b
    print(self.c)

  def squrt(self,a):
    self.c=m.sqrt(a)
    print(self.c)

  def round(self,a):
    self.c=m.round(a)
    print(self.c)

  def power(self,a,b):
    self.c=m.pow(a,b)
    print(self.c)

  def log(self,a,base):
    self.c=m.log(a,base)
    print(self.c)

  def sin(self,angle):
    a=m.degrees(angle)
    self.c=m.sin(a)
    print(self.c)

  def cos(self,angle):
    a=m.degrees(angle)
    self.c= m.cos(a)
    print(self.c)

  def tan(self,angle):
    a=m.degrees(angle)
    self.c=m.tan(a)
    print(self.c)

  def factorial(self,a):
    self.c=m.factorial(a)
    print(self.c)

  def mod(self,a,b):
    self.c=a%b
    print(self.c)

  def percentage(self,a,b):
    self.c=(b*100)/a
    print(self.c)
    
  def ans(self):
    print(self.c)

In [58]:
a=calculator()

In [59]:
a.plus(10,5)

15

In [60]:
a.sin(60)

0.7475778912844228

problem 2

In [68]:
class student:
  name=""
  id=0
  semester=""
  email=""
  cgpa=0.0
  credit_complete=0.0

  def __init__(self,name,id,semester,email):
    self.name=name
    self.id=id
    self.semester=semester
    self.email=email

  def show_data(self):
    print(" NAme :",self.name,"\n","ID :",self.id,"\n","Semester :",self.semester,"\n","E-mail :",self.email,"\n","CGPA :",self.cgpa,"\n","Complete credit :",self.credit_complete,"\n")
  
  def update_semester(self,semester):
    self.semester=semester
  
  def update_cgpa(self,cgpa):
    self.cgpa=cgpa
  
  def upadte_completed_credit(self,credit):
    self.credit_complete=credit

In [69]:
a=student("Tanveer",1,"3-1","18101025@uap-bd.edu")

In [70]:
a.upadte_completed_credit(98.5)

In [71]:
a.show_data()

 NAme : Tanveer
 ID : 1
 Semester : 3-1
 E-mail : 18101025@uap-bd.edu
 CGPA : 0.0
 Complete credit : 98.5

In [72]:
a.update_cgpa(3.20)

In [73]:
a.show_data()

 NAme : Tanveer
 ID : 1
 Semester : 3-1
 E-mail : 18101025@uap-bd.edu
 CGPA : 3.2
 Complete credit : 98.5

problem : Prime_number_in_a_given_range (mid spring 3(a))

In [11]:
def prime_number(a,b):
  for num in range(a,b+1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num,end=' ' )
           
           
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
prime_number(lower,upper)

Enter lower range: 1
Enter upper range: 10
2 3 5 7

# ***CLASS CODE TOPIC ***

**AND OR**

In [ ]:
x = int(input())

if x>5 and x>100:
  print("1")
elif x>10 and x>20:
  print("2")
if x>1 or x>30:
  print("3")
else:
  print("4")

In [ ]:
x = int(input())

if x>5 and x>100:
  print("1")
elif x>10 and x>20:
  print("2")
if x>1 or x>30:
  print("3")
else:
  print("4")

In [ ]:
# max(a,b,c)
a = int(input())
b = int(input())
c = int(input())

if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

**NESTED IF**

In [ ]:
# max(a, b, c)

a = int(input())
b = int(input())
c = int(input())

if a>b :
  if a>c :
    print(a)
elif b>a :
  if b>c :
    print(b)
else:
  print(c)

In [ ]:
# max(a, b, c)

a = int(input())
b = int(input())
c = int(input())

if a>b :
  if a>c :
    print(a)
  else:
    print(c)
else: # b>=a
  if b>c :
    print(b)

**DICTIONARY**

In [12]:
# Organization -> 300 employee

emp1 = {
    "name" : "Efti",
    "position" : "Soft Engineer",
    "Salary" : 10,
    "ID" : 52
}

emp2 = {
    "name" : "Ashfi",
    "position" : "CEO",
    "Salary" : 100,
    "ID" : 520
}

emp3 = {
    "name" : "Rakin",
    "position" : "Manager",
    "Salary" : 5,
    "ID" : 5200
}

In [13]:
l = [emp1, emp2, emp3]

In [14]:
l[0]

{'ID': 52, 'Salary': 10, 'name': 'Efti', 'position': 'Soft Engineer'}

In [15]:
# One solution 
for emp in l:
  if emp["name"] == "Ashfi":
    print(emp)

{'name': 'Ashfi', 'position': 'CEO', 'Salary': 100, 'ID': 520}

In [17]:
# Another solution (more effective but has a problem)
all_emp = {
    "Efti" : emp1,
    "Ashfi" : emp2,
    "Rakin" : emp3,
}

In [18]:
all_emp["Rakin"]

{'ID': 5200, 'Salary': 5, 'name': 'Rakin', 'position': 'Manager'}

In [19]:
# Another solution (most effective)
all_emp = {
    52 : emp1,
    520 : emp2,
    5200 : emp3,
}

In [20]:
# Another solution (most effective)
all_emp = {
    52 : emp1,
    520 : emp2,
    5200 : emp3,
}

In [21]:
all_emp = {
    
    52 : {
      "name" : "Efti",
      "position" : "Soft Engineer",
      "Salary" : 10,
      "ID" : 52
    },

    520 : {
      "name" : "Ashfi",
      "position" : "CEO",
      "Salary" : 100,
      "ID" : 520
    },
    
    5200 : {
      "name" : "Rakin",
      "position" : "Manager",
      "Salary" : 5,
      "ID" : 5200
    }

}

In [23]:
all_emp = {
    emp1["ID"] : emp1,
    emp2["ID"] : emp2,
    emp3["ID"] : emp3,
}

In [24]:
all_emp[5200]

{'ID': 5200, 'Salary': 5, 'name': 'Rakin', 'position': 'Manager'}

In [25]:
print(all_emp[5200])

{'name': 'Rakin', 'position': 'Manager', 'Salary': 5, 'ID': 5200}

**LOOP**

1 + 2 + . . .. + 10 = 55

In [26]:
i=1
sum = 0
while i<11 :
  if(i == 10):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

input:
start: 10
end: 20
output:
10 + 11 + ... + 20 = ?

In [27]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

Start: 10
End: 20
10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 = 165

input:
start: 20
finish: 40
output:
20 + 22 + 24 + ... + 40 =?

In [28]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if i%2 == 0:
    
    if(i == end_p):
      print(i, end=' ')
    else:
      print(i, "+" , end=' ')
    
    sum = sum + i

  i += 1
print("=", sum)

Start: 20
End: 40
20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 = 330

input: start: 20 finish: 40 output: 20 + 22 + 24 + ... + 40 =?

In [29]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
    
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
    
  sum = sum + i
  i += 2

print("=", sum)

Start: 10
End: 20
10 + 12 + 14 + 16 + 18 + 20 = 90

In [30]:
start = int(input("Start: "))
end_p = int(input("End: "))

if start%2 == 1:
  start = start+1

if end_p%2 == 1:
  end_p = end_p - 1

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  
  sum = sum + i
  i += 2

print("=", sum)

Start: 9
End: 21
10 + 12 + 14 + 16 + 18 + 20 = 90

**RANGE**

means =*[start : end + 1: increment]*

In [32]:
l = list( range(0, 10, 1) )
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
l = list( range(10) )
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
l = list( range(5,10) )
l

[5, 6, 7, 8, 9]

In [35]:
l = list( range(5,10, 2) )
l

[5, 7, 9]

**FOR LOOP**

In [36]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
l = [10 , 2, "A", "B", 1010]

for i in l:
  print(i)

10
2
A
B
1010

# **OOP**

**CLASS**

In [38]:
class Account:
  account_number = 0
  balance = 0.0

  def show_data(self):
           # account_number -> just checks the method parameters
           # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.balance)
  
  def set_balance(self, balance):
           # self.balance -> class variable
           # balance -> method parameter
    self.balance = balance

In [39]:
a = Account()

In [40]:
print(a.account_number, a.balance)

0 0.0

In [41]:
a.set_balance(1000)

In [42]:
a.account_number = 55

In [43]:
a.show_data()

55  :  1000

**Access Modifier**

In [62]:
class Account2:
  account_number = 0      # public attribute
  __balance = 0.0         # Private attribute

  def show_data(self):
                          # account_number -> just checks the method parameters
                          # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
                          # self.balance -> class variable
                          # balance -> method parameter
    self.__balance += balance

In [63]:
a2 = Account2()

In [64]:
a2.account_number = 55

In [65]:
a2.add_balance(5000)

In [66]:
a2.show_data()

55  :  5000.0

In [67]:
a2.add_balance(15000)

**Constructor -> Initialization**

In [70]:
class Account3:
  account_number = 0 # public attribute
  __balance = 0.0 # Private attribute

  def __init__(self, account_number, balance):    # This is the constructor
    self.account_number = account_number
    self.__balance = balance

  def show_data(self):
       # account_number -> just checks the method parameters
       # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
       # self.balance -> class variable
       # balance -> method parameter
    self.__balance += balance

In [71]:
a3 = Account3(55, 8000)

In [72]:
a3.show_data()

55  :  8000

**Another class example**

In [73]:
class Shopping_Complex:

  def __init__(self, name, location, owner):
    self.name = name
    self.location = location
    self.owner = owner

  def set_shops(self, n):
    self.number_of_shops = n
  
  def open_or_close(self, day):
    if(day == "Sunday"):
      print("Closed!")
    else:
      print("Welcome. We are open!")
    
  def show_info(self):
    print("Name: ", self.name)
    print("Owner: ", self.owner)
    print("Location: ", self.location)
    print("Shops count:", self.number_of_shops)

In [74]:
Sumya_sisters = Shopping_Complex("Sumya sisters Unlimited", "Mymanshing", "Sumya")

In [75]:
Sumya_sisters.set_shops(10000)

In [76]:
Sumya_sisters.open_or_close("Friday")

Welcome. We are open!

In [77]:
Sumya_sisters.show_info()

Name:  Sumya sisters Unlimited
Owner:  Sumya
Location:  Mymanshing
Shops count: 10000

**Object Attributes**

In [78]:
Sumya_sisters.CEO = "Sakib"

In [79]:
Sumya_sisters.CTO = "Mubina"

In [83]:
class CEO:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def show_info(self):
    print("CEO Name:", self.name)
    print("CEO Age:", self.age)

In [86]:
sakib = CEO("Sakib", 60)

In [87]:
Sumya_sisters.CEO = sakib

In [88]:
Sumya_sisters.CEO.show_info()

CEO Name: Sakib
CEO Age: 60

# **INHERITANCE**

**Multilevel Inhertiance**
example

In [89]:
class Mobile:

  def __init__(self, IMEI):
    self.IMEI = IMEI
  
  def call(self, contact_number):
    print("Calling ... " , contact_number)
  
  def text(self, contact_number, mgs):
    print("Sending message to", contact_number, mgs)

In [90]:
class SamsungMobile(Mobile):
  def set_logo(self):
    print("Samsung logo is set")

In [91]:
class SamsungA50(SamsungMobile):
  def set_model(self):
    print("Sansumg A50 is set")

In [92]:
Kasfia_mobile = SamsungA50("0845546dsfjnsdfkmdsf5412")

In [93]:
Kasfia_mobile.cover = "Cartoon cover"

In [94]:
Sakib_mobile = SamsungA50("0845546dsf5353fdfkmdsf541")

**Hierarchical**

In [95]:
class Animal:
  def __init__(self, food_hibbit, n_legs, n_hand):
    self.food_hibbit = food_hibbit
    self.n_legs = n_legs
    self.n_hand = n_hand

  def eat(self, food):
    print("Eating ... ", food)
  
  def sleep(self):
    print("sleeping ...")

  def run(self):
    print("Running ...")

In [96]:
class Tiger(Animal):
  def hunt(self, pray):
    print("Hunting ... ", pray)

In [97]:
class Deer(Animal):
  def horn_attack(self, animal):
    print("attacking", animal, "with horn")

In [98]:
class Dog(Animal):
  def bark(self, something):
    print("Barking at", something)

In [99]:
Royal_Bengal_Tiger = Tiger("Carnivorus", 4, 0)
Rain_Deer = Deer("Harbivorus", 4, 0)
Bull_Dog = Dog("omnivorous", 4, 0)

In [101]:
Royal_Bengal_Tiger.hunt("Deer")

Rain_Deer.horn_attack("Tiger")

Bull_Dog.bark("Stranger!")

Hunting ...  Deer
attacking Tiger with horn
Barking at Stranger!

**Multiple Inhertance**

In [102]:
class Tiger1:
  def __init__(self, color):
    self.color = color
  
  def roar(self):
    print("Roar like a tiger")

  def hunt(self):
    print("Hunting ...")

class Lion1:
  def __init__(self, color):
    self.color = color
  
  def roar(self):
    print("Roar like a King")

  def sleep(self):
    print("Sleeping ...")

In [103]:
class Liger1(Lion1, Tiger1):
  def set_size(self):
    print("Bigger than lion and tiger!")

In [104]:
sumyas_liger = Liger1("Lion's color")

In [105]:
sumyas_liger.roar()

Roar like a King

In [106]:
class Liger2(Tiger1, Lion1):
  def set_size(self):
    print("Bigger than lion and tiger!")

In [107]:
kashfias_liger = Liger2("Lion's color")

In [108]:
kashfias_liger.roar()

Roar like a tiger